.from-control{
    border-radius: 0px !important; 
}

,btn
{
    border-radius: 0px !important; 
    
    }

.footer{
    background-image: url(); 
    background-size:  cover; 
    
    background-attachment: fixed; 
    background top: 90px;
}
        
